* {
    padding: 0;
    margin: 0;
}

html {
    background: black;
    height: 100%;
    color: white;

}

body {
    font-family: Arial, Helvetica, sans-serif;
    overflow-y: scroll;
    background-color: black;
}

.container {
    padding: 10px 10%;
}

#header {
    display: inline;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px;
    background: black;
}

#navbar {
    display: flex;
    align-items: center;
    padding: 10px 0px;
}

#navbar h2 {
    margin: 0;
    text-align: flex-start;
    font-size: 40px;
}

#navbar h2 a {
    text-decoration: none;
    color: white;
}

#navbar ul {
    display: flex;
    right: 0;
    list-style: none;
    margin: 0;
    padding: 0;
    flex: 1 1 auto;
    justify-content: flex-end;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 0px 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}


/* name */
#name {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    position: relative;
}
#name::before {
    content: "";
    position: absolute;
    background-image: url(background.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.3;
}

#name p {
    position: relative;
    margin: auto;
    text-align: center;
    width: 50%;
    font-size: 20px;
}

#name h1 {
    position: relative;
    font-size: 100px;
    text-align: center;
}

/* footer */
#footer {
    text-align: center;
    height: 60px;
    padding: 10px 0;
    margin-top: 20px;
    background-color: black;
}

#footer p {
    font-size: 14px;
    text-align: center;
    color: white;
}

/* about */
#about {
    padding: 80px 0;
    color: #fff;
    position: relative;
}
#about::before {
    content: "";
    position: absolute;
    background-image: url(background.jpg);
    background-size: cover;
    background-position: center;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.3;
}

.row {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.about-col1 {
    flex-basis: 35%;
}

.about-col1 img {
    width: 100%;
    height: auto;
}

.about-col2 {
    flex-basis: 60%;
}

.subtitle {
    font-size: 60px;
    font-weight: 600;
    color: white;
}

/* contact */
#contact {
    position: relative;
    align-items: center;
}
#contact::before {
    content: "";
    position: absolute;
    background-image: url(background.jpg);
    background-size: cover;
    background-position: center;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.3;
}

#contact h1{
    position: relative;
    text-align: center;
    margin: 20px;
    font-size: 40px;
}
.main {
    position: relative;
    padding-top: 20px;
    margin-top: 40px;
    border: 2px solid white;
    width: 50%;
    transform: translate(50%);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-bottom: 40px;
}

.btn.btn2 {
    display: inline-block;
    color: black;
    background: white;
    transition: background 0.5s;
}

.btn.btn2:hover {
    background: black;
    color: white;
}

form input,
form textarea {
    width: 70%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 15px;
    margin: 15px 0;
    margin-left: 15%;
    color: white;
    font-size: 18px;
}
form textarea{
    height: 288px;
}
form btn2 {
    padding: 14px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
}

.btn {
    display: block;
    margin: 50px auto;
    width: fit-content;
    padding: 14px 50px;
    text-decoration: none;
    color: white;
    transition: background 0.5s;
    margin-left: 40%;
}

.btn:hover {
    background: black;
    color: white;

}

/* work */

#work {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#work::before {
    content: "";
    position: absolute;
    background-image: url(background.jpg);
    background-size: cover;
    background-position: center;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.3;
}

#work h1 {
    position: relative;
    font-size: 2.1rem;
    line-height: 1.4;
    letter-spacing: 0.2rem;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 30px;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

.carousel {
    width: 80vw;
    height: 80vh;
    position: relative;
    margin-bottom: 100px;
}

.carousel>ul {
    list-style: none;
}

.slide {
    position: absolute;
    inset: 0;
    opacity: 0;
    transition: 200ms ease-in-out;
    transition-delay: 200ms;
}

.slide[data-active] {
    opacity: 1;
    z-index: 1;
    transition-delay: 0ms;
}

.slide>img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carousel-button {
    position: absolute;
    background: none;
    border: none;
    font-size: 4rem;
    z-index: 2;
    top: 50%;
    transform: translateY(-50%);
    color: rgba(255, 255, 255, 0.5);
    cursor: pointer;
    border-radius: .25rem;
    padding: 0 0.5rem;
    background-color: rgba(0, 0, 0, 0.1);
}

.carousel-button:hover,
.carousel-button:focus {
    color: white;
    background-color: rgba(0, 0, 0, 0.2);
}

.carousel-button:focus {
    outline: 1px solid black;
}

.carousel-button.prev {
    left: 1rem;
}

.carousel-button.next {
    right: 1rem;
}